<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='fight-style.css') }}">
</head>
<body>
    <div class="player">
        <nav>
            <span class="player_name">{{ player.name }}</span>
            <span class="health">hp {{ player.health }}</span>
            <span class="armor">
                {% if player.get_armor() %}
                    {{ player.get_armor().get_armor_defense() }}    
                {% endif %}
            </span>

        </nav>
        <img src="../static/images/{{ player.image }}">
    </div>    
    <div class="demon">
        <nav>
            <span class="demom_name">{{ demon.name }}</span>
            <span class="health">hp {{ demon.health }}</span>
        </nav>
        <img src="../static/images/{{ demon.image }}">
    </div>
    <form class="fight-options" action="/fight" method="post">
        <button type="submit" name="attack">Attack</button>
        <button type="submit" name="heal" >Heal</button>
    </form>
</body>
</html>