<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='fight-style.css') }}">
</head>
<body>
    <div class="player">
        <nav>
            <span class="player_name">{{ player.name }}</span>
            <span class="health">hp {{ player.health }}</span>
            <span class="armor">
                {% if player.get_armor() %}
                    {{ player.get_armor().get_armor_defense() }}    
                {% endif %}
            </span>

        </nav>
        <img src="../static/images/{{ player.image }}">
        <form class="fight-options" action="{{ url_for('fight') }}" method="post">
            <button type="submit" name="attack" value="attack">Attack</button>
            <button type="submit" name="heal" value="heal" >Heal</button>
        </form>
    </div>
    
    <div class="fight-info">
        {% if action_description %}
            <div class="player_action">
                <h3>You have used:</h3>
                {% if spell %}
                    <p class="spell">{{ spell.name }}</p><span>( {{ spell.rarity }})</span>  
                {% endif %}
                <p style="color: green;" class="action_description">{{ action_description }}</p>
            </div>
        {% endif %}
       
        {% if demon_attack %}
        <div class="demon_action">
            <h3>{{ demon.name }} has used:</h3>
            <!-- description -->
            <p>{{ demon_attack[0] }}</p>
            <p>{{ demon_attack[1]["Message"] }}</p>
            <p style="color: red;" class="action_description">You have suffered {{ demon_attack[1]["Damage"] }} damage</p>
        </div>
        {% endif %}
    </div>

    <div class="demon">
        <nav>
            <span class="demom_name">{{ demon.name }}</span>
            <span class="health">hp {{ demon.health }}</span>
        </nav>
        <img src="../static/images/{{ demon.image }}">
    </div>
    
</body>
</html>