{% from 'template' import 'module'   %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<header>
    <nav>
        <span class="player_name"></span>
        <span class="health"></span>
        <span class="armor"></span>
        <span class="items"></span>
    </nav>
</header>

<body>
    <h1>{{ location.name }}</h1>
    <p>{{ location.description }}</p>

    <h2>Available Actions:</h2>
    <form action="{{ url_for('choose_action') }}" method="post">
        {% for action in actions %}
            <button type="submit" name="action" value="{{ action }}">{{ action }}</button>
        {% endfor %}
    </form>
</body>
</html>
