
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<header>
    <nav>
        <span class="player_name">{{ player.name }}</span>
        <span class="health">hp {{ player.health }}</span>
        <span class="armor">
            {% if player.get_armor() %}
                {{ player.get_armor().get_armor_defense() }}    
            {% endif %}
        </span>
        <span class="items">
            {% for item in player.inventory.items  %}
                <img src="../static/images/Magic-Wand-icon.webp" alt="" class="icon">
                <span>{{ item.name }}</span>
            {% endfor %}
        </span>
    </nav>
</header>

<body>
    <h1>{{ location.name }}</h1>
    <p>{{ location.description }}</p>
    {% if action_res %}
        <p>{{ action_res }}</p>
    {% endif %}
    
   

    <h2>Available Actions:</h2>
    <form action="{{ url_for('choose_action') }}" method="post">
        {% for action in actions %}
            <button type="submit" name="action" value="{{ action }}">{{ action }}</button>
        {% endfor %}
    </form>
</body>
</html>
