<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Game</title>
</head>
<body>
    <h1>Welcome player</h1>
    <h2>Please choose your name to start game</h2>
    <form action="/start-game" method="post">
        <p>
            <input autocomplete="off" name="username" type="text" placeholder="Choose your name">
        </p>
        <button type="submit">Start game!</button>
    </form>
    <img style="height: 300px; margin-top: 2rem;" src="images/demons/demon.png" alt="demon">
</body>
</html>