<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Game</title>
</head>
<body>

    <h1>Frank’s Wrath</h1>
    <img style="height: 300px; margin-top: 2rem;" src="../static/images/demons/demon.png" alt="demon">
    <h3>Please choose your name to start game</h3>
    <form action="/start-game" method="post">
        <p>
            <input autocomplete="off" name="username" type="text" placeholder="Choose your name">
        </p>
        <button type="submit">Start game!</button>
    </form>
</body>
</html>